<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src cspSource; img-src 'self' data:; script-src 'nonce-nonce';">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="dgmlViewer.css" rel="stylesheet">
  
  <script type="text/javascript" src="cytoscape.min.js"></script>

</head>

<body>
  <div id="buttons">
    <input type="button" id="saveAsPngButton" value="Save as png">
    <input type="button" id="saveSelectionAsPngButton" value="Save selection as png">
    <div id="hierarchical">Change layout:<input type="checkbox" id="showLayoutOptions"></div>
    <div id="layoutDiv">
      <div id="refresh"></div>
      Layout: <select id="layout">
        <option value="breadthfirst">Breadth first</option>
        <option value="cose">Cose</option>
        <option value="concentric">Concentric</option>
        <option value="circle">Circle</option>
        <option value="grid">Grid</option>
        <option value="preset">Fixed</option>
        <option value="random">Random</option>
      </select>
    </div>
    <div id="helpText">Click and drag to select the area to be saved.</div>
  </div>
  <div id="selectionLayer" class="fullScreen"><canvas id="selectionCanvas"></canvas><image id="tmpImage"></image></div>
  <div id="cy" class="fullScreen"></div>
  <div id="cyPopup"></div>
  <script type="text/javascript" src="dgmlViewer.js"></script>
</body>

</html>